<!DOCTYPE html>
<html>
<head th:replace="plantilla.html :: head">
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="plantilla.html :: navbar"></div>
	<br>
	<div class="listCategorias">
		<table class="table table-striped" th:each="categoria : ${categorias}">
			<thead>
				<tr>
					<th>
						<a>Nombre</a>
					</th>
					<th>
						<a th:href="@{/categoriaform/(id=${categoria.categoria_id})}"> Editar categoria</a>
					</th>
					<th>
						<a th:href="@{/removecategoria/(id=${categoria.categoria_id})}"> Eliminar categoria</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${categoria.nombre}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>