<!DOCTYPE html>
<html>
<head th:replace="plantilla.html :: head">
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="plantilla.html :: navbar"></div>
	<br>
	<div  class="Noticia grid-container">
		<div class="noticia grid-item row justify-content-md-center">
			<div class="card">
			  <h5 class="card-header"><span th:text="${noticia.tipo}"></span></h5>
			  <div class="card-body">
			    <h5 class="card-title"><span th:text="${noticia.titulo}"></span></h5>
			    <p class="card-text" th:text="${noticia.descripcion}"></p>
		    	<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" th:href="@{/noticiaform/(id=${noticia.noticia_id})}"> Editar noticia</a>
			    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger" onclick="return confirm('Estas seguro?')" th:href="@{/removenoticia/(id=${noticia.noticia_id})}"> Eliminar noticia</a>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>