<!DOCTYPE html>
<html>
<head th:replace="plantilla.html :: head">
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="plantilla.html :: navbar"></div>
	<div class="container">
		<h2 class="form-sigin-heading text-center">Crear Noticia<h2/>
		<form class="form-signin" th:action="@{/crearnoticia}" th:object="${noticiaModel}" method="post">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<label for="inputTitulo" class="sr-only">Titulo</label>
			<input type="text" id="inputTitulo" placeholder="Titulo" name="titulo" class="form-control" th:field="*{titulo}"/>
			<p th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="alert alert-danger" role="alert"></p>
			<label for="inputTitulo" class="sr-only">Tipo</label>
			<input type="text" id="inputTipo" placeholder="Noticia de competicion o juego..." name="tipo" class="form-control" th:field="*{tipo}"/>
			<p th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}" class="alert alert-danger" role="alert"></p>
			<label for="inputDescripcion" class="sr-only">Descripcion</label>
			<textarea id="inputDescripcion" placeholder="Descripcion" name="descripcion" rows="7" cols="40" class="form-control" th:field="*{descripcion}"></textarea>
			<p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="alert alert-danger" role="alert"></p>
			<label for="inputContenido" class="sr-only">Contenido</label>
			<textarea id="inputContenido" placeholder="Contenido" name="contenido" rows="10" cols="40"  class="form-control" th:field="*{contenido}"></textarea>
			<p th:if="${#fields.hasErrors('contenido')}" th:errors="*{contenido}" class="alert alert-danger" role="alert"></p>
			<label for="inputDestacada" class="sr-only">Destacar</label>
			<p>Destacar Noticia 
				<input th:if="${destacado}" type="checkbox" checked id="inputDestacada" name="destacada" th:field="*{destacada}"/>
				<input th:unless="${destacado}" type="checkbox" checked id="inputDestacada" name="destacada" th:field="*{destacada}"/>
			</p>
			
			<input class="btn btn-primary btn-block" type="submit" value="Crear"/>
		</form>
	</div>
</body>
</html>