<!DOCTYPE html>
<html>
<head th:replace="plantilla.html :: head">
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="plantilla.html :: navbar"></div>
	<div  class="listJuegoVenta grid-container">
		<div class="juegosVentas grid-item row justify-content-md-center" th:each="venta : ${ventas}">
			<div class="card">
			  <h5 class="card-header"><span th:text="${venta.juegoModel.titulo}"></h5>
			  <div class="card-body">
			    <p class="card-title" th:text="${venta.fecha}"></p>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>